* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #090915;
  color: white;
}

body a {
  color: white;
}


@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

.background-change-ui{
  background-color: black;
  height: auto;

}

/* ********************************************** */
/* Code for Navbar Component Start */
.header-div{
  position: sticky;
  top: 0;
}

header {
  max-width: 1200px;
  margin: auto;

}

.username-saif {
  font-family: 'Dancing Script', cursive;
  font-size: 34px;
  display: inline-block;
  width: 49%;
  text-align: center;
}

header nav ul li {
  list-style-type: none;
  display: inline-block;
  margin: 0 2rem;
  padding: 0;
}

header nav ul.nav-links-1 {
  display: inline-block;
  margin-left: 4.5rem;

}

header nav ul.nav-links-2 {
  display: inline-block;
  margin-right: 4.5rem;

}

header nav ul.nav-links-2 li {
  display: inline-block;
  text-align: end;
}

header nav ul li a {
  text-decoration: none;
}

header nav {
  height: 100px;
  display: flex;
  align-items: center;
  /* background-color: red; */
}


/* Code for Navbar Component Ends */
/* ********************************************** */
/* Code for Home Component Start */
.home-section {
  max-width: 1200px;
  margin: auto;
}

.research-saif {
  margin-left: 6.5rem;
}

.same-dist-saif {
  margin-left: 9rem;
}

.int-font {
  font-size: 3rem;
}

.pic-saif,
.intro-saif {
  display: inline-block;
}



.pic-saif {
  width: 50%;
  text-align: center;
}

.home-section {
  margin-top: 40px;
  display: flex;
  align-items: center;
  /* background-color: red; */
}

/* // social icons  */
.social-icons {
  z-index: 22;
  max-width: 1200px;
  margin: 0 4.5rem;
  /* background-color: red; */
  height: auto;
  text-align: end;
}

.social-icons-c {
  margin-top: 3rem;
  height: auto;
  margin-right: 5rem;
}

.social-icon {
  display: inline-block;
  margin: 0 1rem;
  font-size: 1.6rem;
}

.social-icon i {
  border-radius: 50%;
  background-color: black;
}

/* social icons vertical */
.social-icons-vertical {
  z-index: 22;
  position: absolute;
  bottom: 4rem;
  right: 3rem;;
}

.social-icons-cv {
  position: fixed;
  bottom: 4rem;
  right: 3rem;;
  /* bottom: 4rem; */
  /* margin-top: 3rem; */
  /* height: auto; */
  margin-right: 4rem;
}

.social-icon-vertical {
  /* display: inline-block; */
  /* margin: 0 1rem; */
  font-size: 1.6rem;
  margin: 1rem 0;}

.social-icon-vertical i {
  border-radius: 50%;
  background-color: black;
}



.change-ui {
  display: flex;
  justify-content: center;
}

.change-ui-text {
  display: inline-block;

}

.change-ui-text p {
  display: inline-block;
  font-weight: 900;
  font-size: 20px;
  margin-top: 7px;
}

.change-ui-btn {
  display: inline-block;
  margin-left: 5px;
}

/* Code for Home Component Ends */
/* ********************************************** */
/* Code for Projects Component Start */
.projects-section {
  max-width: 900px;
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.project-card {
  width: fit-content;
  margin-top: 2.5rem;
}

.project-numbering {
  margin: .8rem 0;
  text-align: center;
  display: flex;
  justify-content: center;
}

.project-numbering div {
  background-color: rgb(115, 115, 235);
  width: fit-content;
  border-radius: 50%;
  border: 1px solid black;
  padding: 15px;
  font-size: 22px;
}

.project-card-items {
  background-color: black;
  width: fit-content;
  border-radius: 15px;
  border: 1px solid #59C1C4;
}

.projects-section .project-image img {
  width: 300px;
  border: 1px solid #59C1C4;
  border-radius: 15px;
}

.project-text {
  text-align: center;
  margin: 5px 0;
}

.project-view-btn {
  display: block;
  text-align: end;
}

.project-view-btn button {
  margin: 5px;
  background-color: #59C1C4;
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
}

/* Code for Projects Component Ends */
/* ********************************************** */
/* Code for Resume Component Start */


/* Code for Resume Component Ends */
/* ********************************************** */
/* Code for About Component Start */
.about-section {
  max-width: 1200px;
  margin: auto;
  margin-top: 1.2rem;
}

.about-section-content {
  display: flex;
 justify-content: space-between;
}

.about-image{
  margin-left: 6rem;
}

.about-image img {
  max-width: 258px;
  height: auto;
}

.about-text{
  margin: 0 7rem 0 0rem;
  text-align: justify;
}

.about-education{
  width: fit-content;
  margin-left: 6rem;
}

.txt-education p{
  margin: 1rem 2rem;}

.crosswork{
  width: fit-content;
  height: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.crosswork .verti-bar{
  position: absolute;
  left: 65px;
  height: 100px;
  width: 5px;
  background-color: #338BA3;
  border: 1px solid  #338BA3;
  border-radius: 5px;
}

.hori-bar{
  background-color: #338BA3;
  margin: 10px 0;
  width: 40px;
  height: 5px;
  border: 1px solid  #338BA3;
  border-radius: 5px;
  display: block;
  /* display: inline-block; */
}

.hori-bars{
  display: flex;
  justify-content: flex-end;
  padding: 5px 0;
  align-items: center;
}

.hori-bars p{
  padding: 0 .4rem;

}
/* Code for About Component Ends */
/* ********************************************** */

/* utility code  */

.black-bg-full{
  position: sticky;
  bottom: 0;
  background-color: #090915;
  height: 50px;
  
}
div.scroll {
  /* margin:4px, 4px; */
  padding:4px;


  max-width: 700px;
  height: 258px;

  overflow-x: hidden;
  overflow-y: auto;
  text-align:justify;
}
div.scroll::-webkit-scrollbar{
  display: none;
}

.active {
  background-color: rgb(115, 115, 235);

}

/* toggle btn style  */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #59C1C4;
}

input:focus+.slider {
  box-shadow: 0 0 1px #59C1C4;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* toggle button style ends  */

/* css styling for the chang ui button component  */
.background-change-ui{
  height: 50px;

  max-width: 1200px;
  margin: auto;
  position: sticky;
  top: 100px;

  /* display: flex;
  align-items: center;
  justify-content: center; */
}
.bg-change-ui {
  display: flex;
  justify-content: flex-end;
  margin-right: 7rem;
}

.bg-change-ui-text {
  display: inline-block;

}

.bg-change-ui-text p {
  display: inline-block;
  font-weight: 900;
  font-size: 20px;
  margin-top: 7px;
}

.change-ui-btn {
  display: inline-block;
  margin-left: 5px;
}
/* css styling for the chang ui button component  */